// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo)
params.outdir = "/home/alumnoN/Clase_pipelines/clase1/resultados"

// Ruta de los archivos con la información de los datos crudos
params.reads="/home/alumnoN/Clase_pipelines/clase1/data/*.read{1,2}.fastq.gz"
params.project_name = "Clase1"

// Parametros y rutas necesarios
params.ncrs=1

// Directorios adicionales
params.out = params.outdir + '/out'
workDir = params.outdir + '/nextflow_work_dir'

// Condiciones a ejecutar, tomando en cuenta las condiciones de tu servidor o cluster modfica los parámetros
executor {
  name = 'local'
  queueSize = 1
}

// No editar
docker {
    enabled = true
    temp = 'auto'
    runOptions= "--cpus 1"
    fixOwnership = true
}
